# =====================================================================================================================
# General zsh settings
# =====================================================================================================================

# Disable control flow (ctrl-s / ctrl-q)
stty stop '' -ixoff -ixon

# Set spelling correction
setopt correct

# Dont raise errors when regex nomatch fires
unsetopt nomatch

# =====================================================================================================================
# Oh my zsh settings
# =====================================================================================================================
# Export $PATH.
export PATH=$HOME/bin:$PATH

# Path to your oh-my-zsh installation.
export ZSH={{ user.home }}/.oh-my-zsh

# Theme declaration
ZSH_THEME="pure"

# Disable marking repo as dirty due to untracked files
DISABLE_UNTRACKED_FILES_DIRTY="true"

# Plugin declaration
plugins=(git adb osx brew colorize cp docker zsh-syntax-highlighting zsh-autosuggestions zsh-completions mvn gradle)

# =====================================================================================================================
# Sourcing
# =====================================================================================================================
# Oh-my-zsh
source $ZSH/oh-my-zsh.sh
source $ZSH/custom/plugins/zsh-history-substring-search/zsh-history-substring-search.zsh

# =====================================================================================================================
# Plugin bindings
# =====================================================================================================================

# History substring search plugin binding
bindkey '^[[A' history-substring-search-up
bindkey '^[[B' history-substring-search-down

# Autosuggestions + Substring search config
ZSH_AUTOSUGGEST_CLEAR_WIDGETS=("${(@)ZSH_AUTOSUGGEST_CLEAR_WIDGETS:#(up|down)-line-or-history}")
ZSH_AUTOSUGGEST_CLEAR_WIDGETS+=(history-substring-search-up history-substring-search-down)

# =====================================================================================================================
# User configuration
# =====================================================================================================================
#Preferred editor for local and remote sessions
if [[ -n $SSH_CONNECTION ]]; then
  export EDITOR='vim'
else
  export EDITOR='nvim'
fi

#THIS MUST BE AT THE END OF THE FILE FOR SDKMAN TO WORK!!!
export SDKMAN_DIR="{{ user.home }}/.sdkman"
[[ -s "{{ user.home }}/.sdkman/bin/sdkman-init.sh" ]] && source "{{ user.home }}/.sdkman/bin/sdkman-init.sh"
