[tools]
node = "latest"
ruby = "latest"
bun = "latest"
pi = "latest"
opencode = "latest"
"github:akitaonrails/ai-jail" = "latest"

[settings]
idiomatic_version_file_enable_tools = ["ruby"]
install_before = "5d"

[settings.ruby]
compile = false

[settings.node]
compile = false
