---

- name: Installing zsh shell
  homebrew:
    name: zsh
    state: latest

- name: Clone oh-my-zsh
  git:
    repo: "{{ github }}robbyrussell/oh-my-zsh.git"
    dest: "{{ omzsh_dir }}"
    accept_hostkey: yes

- name: Check if omzsh is installed
  stat:
    path: "{{ omzsh_dir }}"
  register: omzsh

- name: Install oh-my-zsh
  shell: "{{ omzsh_dir }}/tools/install.sh"
  when: not omzsh.stat.exists

- name: Clone pure theme
  git:
    repo: "{{ github }}sindresorhus/pure.git"
    dest: "{{ omzsh_themes_dir }}/pure"
    accept_hostkey: yes

- name: Symlink pure theme files
  file:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    state: link
  with_items:
    - { src: '{{ omzsh_themes_dir }}/pure/async.zsh' , dest: '{{ omzsh_custom_dir }}/async.zsh' }
    - { src: '{{ omzsh_themes_dir }}/pure/pure.zsh' , dest: '{{ omzsh_themes_dir }}/pure.zsh-theme' }

- name: Cloninig custom plugins
  git:
    repo: "{{ github }}{{ item.value }}/{{ item.key }}.git"
    dest: "{{ omzsh_plugins_dir }}/{{ item.key }}"
    accept_hostkey: yes
  with_dict:
    "{{ omzsh_plugins }}"

- name: Download shell integration for iterm2
  shell: |
    curl -L https://iterm2.com/misc/zsh_startup.in \
    -o "{{ user.home }}/.iterm2_shell_integration.zsh"
  args:
    creates: "{{ user.home }}/.iterm2_shell_integration.zsh"

- name: Clone base16-shell theme
  git:
    repo: https://github.com/chriskempson/base16-shell.git
    dest: "{{ user.home }}/.config/base16-shell"
    accept_hostkey: yes

- name: Checking for original .zshrc
  stat:
    path: "{{ user.home }}/.zshrc"
  register: stat_zshrc

- name: Backing up .zshrc file
  command: mv ~/.zshrc ~/.zshrc.bak
  args:
    creates: ~/.zshrc.bak
  when: stat_zshrc.stat.exists

- name: Create .zshrc
  template:
    src: .zshrc.j2
    dest: "{{ user.home }}/.zshrc"
